* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #A770EF;
  background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
  background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 40px;
}

.form {
  display: flex;
  gap: 25px;
  flex-basis: 70%;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.header input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

.header button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.header button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.header button:active {
  color: #000
}

.header button:active:after {
  background: rgb(54, 54, 54);
}

.header button:hover:before {
  opacity: 1;
}

.header button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.column {
  flex-basis: 32%;
  background-color: #ffffff76;
  border-radius: 5px;
  padding: 20px;
}

.column h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 10px;
  background-color: #3a3a3ac7;
  border-radius: 5px;
  color: #fff;
}


.deleteBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 3px 6px;
  margin: 0;
}


li button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 0 -3px rgb(35, 35, 49) inset;
  transition: 0.2s;
  margin: 0 20px;
}

li button:hover {
  transform: scale(1.05);
}

li button:active {
  box-shadow: 0 3px rgb(35, 35, 49) inset;
}


.in-progress li button,
.todo li button {
  background-color: #2196F3;
}


.done li button:last-child,
.in-progress li button:last-child,
.todo li button:last-child {
  background-color: #4CAF50;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    gap: 50px;
  }

  .column {
    width: 80%;
  }
}